@import "./card-component.css";

/* 카드 레이아웃 */
.product-container {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

/* 1024px 이상일 때 배치 변경 */
@media (min-width: 1024px) {
  .section-1 {
    grid-template-columns: 1fr;
  }

  .section-2 {
    grid-template-columns: 1fr 1fr;

    .p-4 {
      grid-area: 1 / 1;
    }
    .p-5 {
      grid-area: 1 / 2;
    }
    .p-6 {
      grid-area: 2 / 1;
    }
    .p-7 {
      grid-area: 2 / 2;
    }
  }
}
